<!DOCTYPE html>
<html>
  <head>
    <title>H3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Eberardo's Appoitnment Manager</h1>
    <%= link_to  "Physician", physicians_path %>
    <%= link_to  "Appointment", appointments_path %>
    <%= link_to  "Patient", patients_path %>
    <%= yield %>
  </body>
</html>
